/* defined primary colors, fonts */
:root {
    --main-color: #02333C;
    --secondary-color: #419180;
    --light-color: #F2F5EA;
    --dark-color: #02333C;
    --font-main: 'Inter', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

/* general body styling */
body {
    background-color: var(--light-color);
    font-family: var(--font-main);
    color: var(--main-color);
}

/* card paragraph, answer options with the same styling */
.card-p, #answerOptions {
    padding: 5px;
    flex: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: var(--main-color);
}

/* link styling */
a {
    text-decoration: none;
    color: var(--main-color);
}

/* heading styling */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

/* text, score, input and button styling */
.txt, .score, input, button {
    font-size: 30px;
    font-family: var(--font-secondary);
    color: var(--main-color);
}

h3, #finalScore {
    font-size: 30px;
}

/* unordered list styling */
ul {
    color: var(--secondary-color);
    font-family: var(--font-secondary);
    font-size: 24px;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30vw;
    padding: 30px 0;
    background-color: whitesmoke;
}

/* button styling */
button {
    margin: 24px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #DEF6EF;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

/* input and initials styling */
input, #initials {
    background-color: whitesmoke;
    height: 40px;
    width: 250px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
}

/* initials specific styling */
#initials {
    width: 300px;
    padding: 8px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
}

/* container elements styling */
.container, .container-q, .container-qo, .container-hs {
    padding-top: 20px;
    padding-left: 10px;
    display: none;
    margin: 40px auto;
    text-align: center;
    transition: 0.3s;
    width: 70vw;
}

.container {
    display: block;
}

/* card contents styling */
.card-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px 30px 5px;
}

/* card response styling */
.card-response {
    padding: 5px;
    border-top: 1px solid #BBC7A4;
    text-align: center;
}

/* response styling */
#response {
    padding-bottom: 30px;
    color: #BBC7A4;
}

/* question text styling */
#questionText {
    font-family: var(--font-main);
    font-size: 36px;
}

/* answer options styling */
#answerOptions {
    flex-direction: column;
}
