body {
    background-color: #F2F5EA;
}

.card-p {
    padding: 5px;
    flex: content;
    display: flex;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    color: #02333C;
}

.txt {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.score {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}


button {
    margin: 24px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    background-color: #419180;
    color: #DEF6EF;
    border: 1px solid #02333C;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

input {
    background-color: whitesmoke;
    font-family: 'Raleway',sans-serif;
}

#initials {
    width: 300px;
    padding: 8px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px solid #02333C;
}

.container {
    padding-top: 20px;
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
}

.container-q{
    padding-top: 20px;
    padding-left: 10px;
    display: block;
    margin: 40px auto;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    display: none;
}

.container-qo{
    padding-top: 20px;
    padding-left: 10px;
    display: block;
    margin: 40px auto;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    display: none;
}

.container-hs{
    padding-top: 20px;
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    display: none;
}

.card-contents {
    padding: 5px 5px 30px 5px;
}

.card-response {
    padding: 5px;
    border-top: 1px solid #BBC7A4;
    text-align: left;
}

#response {
    padding-bottom: 30px;
    color: #BBC7A4;
}

#questionText {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #02333C;
}

#answerOptions {
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    padding: 0;
  }

#finalScore {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #02333C;
}